:root{
    --vermelho:#e50914;
    --preta:#141414;

}/*declaração de variaveis*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;/* para fazer a box 'não vazar'*/
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color:var(--preta);
    font-family:'Times New Roman', Times, serif;
    color:white;
}
header .container{
    display: flex;/*deixando header na horizontal*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
}
 
header .logo{
    margin-left: 5px;
    color:var(--vermelho);
    font-family:'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}/*efeito de quando o mouse estiver em cima*/


/*filme principal*/

.filme-principal{
    font-size:16px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)100%), url(../recursos/baner.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size:cover ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.filme-principal .titulo{
    font-size: 40px;
    margin-top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.5);
    border:1px solid rgba(146, 146, 146, 0.738);
    color: aliceblue;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor:pointer;
    transition: .4s ease all;

}

i{
    margin-right: 7px;
}

.botao:hover{
    background-color: #fff;
    color:black;
}

.container{
    margin-left: 30px;
    margin-right: 10px;
}

.filme-principal .container{
    width:70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display:block;
}

.carrosel-filmes{
    margin-top: 5px ;
}


.titulo-filme{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(223, 217, 217);
    text-align: center;
    margin-bottom: 5px;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    margin-top: -100%;
    transition: .5s;
    
    
    

}

.ct-modal{
   width: 50%;
   height: 50%;
   border: 1px solid rgba(0, 0, 0, 0.445);
   box-shadow: 0px 0px 1em rgba(253, 253, 253,.2);
   border-radius: 10px;
   background-image:url(../recursos/info.jpg);
   display: flex;
   justify-content: center;
   align-items: center;
  
   
   
   
}

.descricao-modal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 10px;
    color: black;
}
  
   
    
    

